@import "tailwindcss";

*::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
}

#webgl {
  position: fixed;
  inset: 0;
  pointer-events: none;
}

[data-recursive-effect] {
  opacity: 0;
}
